body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
background : #0d1117;
}
a, a:visited {
    padding-bottom: 0;
    color: #0080ff;
}
a, a:visited, a:hover {
    text-decoration: none;
}
a:hover {
    color:#005cbb;
}
h2 {
font-size : 1.1em;
color : #800040;
margin-top : 0;
}
#container {
width : 900px;
margin : 0 auto;
background : #ffe;
}
#header {
padding: 16px;
font-size: 18px;
line-height: 1.5;
color: #fff;
background: #161b22;
}
#sidebar {
width : 190px;
float : left;
padding:5px;
}
#content {
margin-left : 200px;
padding : 10px;
background : #fff;
}
#footer {background: #161b22;color : #fff;padding : 5px;clear : left;}
#nav ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
}
#nav li:hover ul { display: block; }
#nav, #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav {
  height: 30px;
  background-color: #666;
  padding-left: 25px;
  min-width: 470px;
}
#nav li {
  float: left;
  position: relative;
  height: 100%;
}
#nav li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size:18px;
}
#nav ul li { float: none; }
#nav li:hover { background-color: #f90; }
#nav ul li:hover { background-color: #666; }
#feedControl {
margin-top : 10px;
margin-left: auto;
margin-right: auto;
width : 440px;
}
.vcard {
  list-style-type: none;
  background:#bcddff;
  padding:10px;
}
.vcard a {
  padding: 5px;
}
.news-cont {
  display: flex;
  flex-direction: column;
}
.news-cont .content {
  flex-grow: 1;
}
.news-cont .content img {
  float: right;
}
.news-cont .hud
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-cont .hud .links a
{
  padding: 0 20px;
}
.publish-date
{
  color: #777;
}
.news-cont .content .title
{
  color: #333;
}
