body {
  font-size : 14px;
  line-height : 1.5;
  background : #0d1117;
  }
  a, a:visited {
  padding-bottom : 0;
  color : #0080ff;
  }
  a, a:visited, a:hover {
  text-decoration : none;
  }
  a:hover {
  color : #005cbb;
  }
  h2 {
  margin : 0;
  }
  #container {
  width : 700px;
  margin : 0 auto;
  background : #fff;
  }
  #header {
  padding : 16px;
  font-size : 18px;
  line-height : 1.5;
  color : #fff;
  background : #161b22;
  }
  #sidebar {
  width : 190px;
  float : left;
  padding : 5px;
  }
  #content {
  margin-left : 200px;
  padding : 10px;
  background : #fff;
  }
  #footer {
  background : #161b22;
  color : #fff;
  padding : 5px;
  clear : left;
  }
  #nav ul {
  display : none;
  background : #f90;
  position : absolute;
  }
  #nav li:hover ul {
  display : block;
  }
  #nav, #nav ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
  }
  #nav {
  height : 30px;
  background : #333;
  padding-left : 25px;
  min-width : 470px;
  }
  #nav li {
  float : left;
  }
  #nav li a {
  padding : 10px;
  width : 100px;
  color : #fff;
  text-decoration : none;
  text-align : center;
  font-size : 18px;
  }
  #nav ul li {
  float : none;
  }
  #nav li:hover {
  background : #f90;
  }
  #nav ul li:hover {
  background : #666;
  }
  #feedControl {
  margin-top : 10px;
  margin-left : auto;
  margin-right : auto;
  width : 440px;
  padding : 10px;
  }
  .vcard {
  list-style-type : none;
  padding : 10px;
  }
  .vcard a {
  padding : 5px;
  font-size : 15px;
  }
  .p-3 {
  padding : 16px !important ;
  }
  .box {
  border : #666 solid 1px;
  border-radius : 6px;
  padding : 3px;
  margin : 10px;
  background : #666;
  color : #fff;
  }
  * {
  box-sizing : border-box;
  }
  .dashboard-break-word {
  hyphens : auto;
  word-break : break-word;
  }
  .f4 {
  font-weight : 600 !important ;
  font-size : 15px;
  }